@import "../../styles/base";

.SearchForm {
  display: flex;
}

.SearchWrapper {
  position: relative;

  max-width: 45rem;
  width: 100%;

  background-color: map-get($colors, grayLight);
}

.SearchIcon {
  left: 1rem;
  position: absolute;
  top: 50%;

  height: 1rem;

  pointer-events: none;
  transform: translateY(-50%);
}

.SearchInput {
  display: block;
  padding-left: 3rem;
  height: 3.5rem;
  width: 100%;

  font-size: 1rem;

  background-color: transparent;
  border: 1px solid map-get($colors, grayLight);
}

.SearchInput:focus {
  outline: none;
  border: 1px solid map-get($colors, red);
}

.SearchInput::placeholder {
  color: darken(map-get($colors, white), 35%);
  opacity: 0.75;
}

.SearchButton {
  margin-left: 1rem;
  padding: 1rem;

  color: map-get($colors, white);
  font-weight: bold;
  letter-spacing: 1px;

  appearance: none;
  background-color: map-get($colors, red);
  border: 1px solid map-get($colors, red);
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.SearchButton:hover,
.SearchButton:focus {
  background-color: map-get($colors, redDark);
  border: 1px solid map-get($colors, redDark);
}
